.StripeElement {
    box-sizing: border-box;
    width: 50%;
    height: 40px;
  
    padding: 0px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

.heading-wrapper {
  margin-top: 3%;
  position: relative;
  display: flex;
}

.heading {
  margin: auto;
}

.form {
  margin-left: 1%;
}

.label-heading {
  font-size: large;
  margin: 7% 0 0 ;
}

.card-details {
  margin-top: 1%;
}

.button-submit {
  margin-top: 1%;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
