.sub-wrapper {
    position: relative;
    display: flex;
    height: 40vh;
}

.sub {
    margin: auto;
}

sub a {
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

