.form-wrapper {
    margin-left: 1%;
}

.form-data {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input {
    width: 20%;
}

.login-button {
    width: 20%;
}

.register-button {
    margin-top: 1%;
    width: 20%;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}