{% extends "base.html" %}
{% block title %} Premium {%endblock title%}
{% block head %}

{% load static %}

{% endblock head%}
{% block content %}

<div class="form row">
        <div class="col">
                <div class="row heading-wrapper">
                        <div class="heading">
                                <h3>Premium Subscription is worth $49.99</h3>
                        </div>
                </div>
                <script src="https://js.stripe.com/v3/"></script>
                <div class="row">
                        <div class="col">
                                <form action="{% url 'subscription:registerPremium' %}" method="post" id="payment-form">
                                        {% csrf_token %}
                                        <div class="form-row row label-heading">
                                                <label for="card-element">
                                                        Credit or debit card details
                                                </label>
                                        </div>
                                        <div class="row card-details">
                                                <div id="card-element">
                                                        <!-- A Stripe Element will be inserted here. -->
                                                </div>

                                                <!-- Used to display form errors. -->
                                                <div id="card-errors" role="alert"></div>
                                        </div>
                                        <div class="row button-submit">
                                                <button type="submit" class="btn btn-primary">Pay</button>
                                        </div>
                                </form>
                        </div>
                </div>
        </div>
</div>


<link rel="stylesheet" href="{% static 'css/checkout1.css' %}">
<script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}