<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock title%}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% block head %} {% endblock head%}
</head>

<body>
    <nav class="navbar navbar-expand bg-primary navbar-dark">



        <!-- Links -->
        {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'users:home' %}">Whatsbusy</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>


        {% else %}
        <a class="navbar-brand" href="{% url 'users:index' %}">Whatsbusy</a>

        {% endif %}

        </ul>
    </nav>
    <div class="content" style="width: 100%; height: 100%;">
        {% block content %}{% endblock content %}
    </div>
</body>

</html>