{% extends "base.html" %}
{% load static %}
{% block title %} Home {%endblock title%}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head%}
{% block content %}
{% csrf_token %}
<div class="sub-wrapper">
    <div class="sub">
        {% if active%}
        <h3>Premium Subscriber</h3>
        <button type="submit" class="btn btn-primary" onclick="cancel()">CANCEL</button>

        {%else%}
        {% if trial%}
        <h3>Non Premium Subscriber & No trial left!</h3>
        <button type="submit" class="btn btn-primary" onclick="premium()">GET PREMIUM</button>
        {%else%}
        <h3>Non Premium Subscribe & 7 days trial left!</h3>
        <button type="submit" class="btn btn-primary" onclick="premium()">GET PREMIUM</button>

        {% endif %}
        {% endif %}
    </div>
</div>

<script>
    function cancel() {
        location.href = "{% url 'subscription:cancelPremium'%}"
    }

    function premium() {
        location.href = "{% url 'subscription:getPremium'%}"
    }
</script>

{% endblock %}