{% extends "base.html" %}
{% load static %}
{% block title %} Main {%endblock title%}
{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock head%}
{% block content %}
{% csrf_token %}
<div class="welcome-wrapper">
    <div class="welcome">
        <button type="submit" class="btn btn-primary" onclick=login()>LOGIN</button>
        <button type=" submit" class="btn btn-primary" onclick=register()>REGISTER</button>
    </div>
</div>

<script>
    function login() {
        location.href = " {% url 'login' %}"
    }

    function register() {
        location.href = "{% url 'users:register' %}"
    }

</script>

{% endblock %}