{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock title%}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head%}
{% block content %}
{% load crispy_forms_tags %}
<div class="row form-wrapper">
    <div class="col form-data">
        <form method="post" class="form-grp">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    {{form|crispy}}
                </div>
            </div>
            <div class="row">
                <div class="col" style="margin-top: 2%;">
                    <button type="submit" class="btn btn-primary login-button">Login</button>
                </div>
            </div>
        </form>
        <form action="{% url 'users:register' %}" method="GET">
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary register-button" onclick="">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}