{% extends "base.html" %}
{% load static %}
{% block title %}Register{% endblock title%}
{% block head %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock head%}
{% block content %}
{% load crispy_forms_tags %}
<div class="form-wrapper">
    <form method="post" class="form-grp">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
{% endblock %}